.login-inner{
  max-width: 400px;
  margin: 0 auto;
}
.login-page{
  margin-top: 120px
}
.main-content{
  margin-left: 240px;
}
.nav-side-menu {
  overflow: auto;
  font-size: 12px;
  font-weight: 200;
  background-color: #273135;
  position: fixed;
  width: 240px;
  height: 100%;
  color: #e1ffff;
}

.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
  font-size: 14px;
  display: block;
  font-weight: 300;
  padding:5px 20px;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 32px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
body {
  margin: 0px;
  padding: 0px;
}


form{
  .components{
    display: inline-block;
    vertical-align: middle;
  }
  .for--save{
    display: block;
  }
  .for--update{
    display: none;
  }
  &.editing{
    .for--update{
      display: block;
    }
    .for--save{
      display: none;
    }
  }
}
.btn-gray{
  background-color: #7d7d7d;
  color: #fff;
  &:hover{
    background-color: #656565;
    color: #fff !important;
  }
}
html .btn-warning{
  border:1px solid #00489a;
  background-color: #00489a;
  color: #fff;
  &:visited,
  &:focus,
  &:active,
  &:hover{
    background-color: #003e85 !important;
    color: #fff;
  }
}
.nav-side-menu .brand{
  font-weight: 400;
  padding:20px 0;
  background-color: #f1f1f1;
  display: block;
  text-align: center;
  font-size:18px;
  img{
    max-width: 180px;
    margin:0 auto;
  }
}
.alert.for--update{
  background-color: #e0e0e0;
}

.messageBox{
  span{
    display: inline-block;
    padding:8px;
    background-color: #eee;
    margin: 3px 0;
    min-width: 200px;
  }
}
.contentWrapChat,
#tabchat{
  max-height: 500px;
  position: relative;
  height:100%;
  overflow: auto;
}
.contentWrapChat{
  padding:18px;
}

.boxChatScript{
  bottom:0;
  width:100%;
  left:0;
  position: absolute;
}
.messagesHistory{
  height:100%;
  padding-bottom: 42px;
  position: relative;
}
.contentMainChatActive{
  height: 100%;
}
.panel-chat{
  display: table;
  width:100%;
  .wrapInline{
    display: table-cell;
    vertical-align: top;
    &.side{
      width:340px;
      border-right:1px solid #ccc;
    }
  }
}
#content-chat{
  height:500px;
}

.uploader-main{
  input{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  label{
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    color: #ffffff;
    background-color: #01a2e4;
  }
}
.preview-image{
  padding: 12px;
  display: inline-block;
  background-color: #e0e0e0;
  img{
    max-width: 290px;
  }
  &.min{
    img{
      max-width: 140px;
    }
  }
}