html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
	box-sizing: border-box;
}
a{
	text-decoration: none;
}

$font1 : 'Roboto';
$font2 : 'Roboto Condensed';
$green : #00d765;
$blue : #00489a;

//queries
$desktop-width: 1360px;
$desktop-min-width: 1024px;
$tablet-width: 980px;
$mobile-width: 768px;
@mixin desktop {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}
@mixin desktop-min {
  @media (max-width: #{$desktop-min-width - 1px}) {
    @content;
  }
}
@mixin tablet {
  @media  (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: #{$mobile-width - 1px}) {
    @content;
  }
}

@mixin animate($time) {
	-webkit-transition: all $time cubic-bezier(0.980, 0.040, 0.150, 0.890);
   -moz-transition: all $time cubic-bezier(0.980, 0.040, 0.150, 0.890);
     -o-transition: all $time cubic-bezier(0.980, 0.040, 0.150, 0.890);
        transition: all $time cubic-bezier(0.980, 0.040, 0.150, 0.890); /* custom */

-webkit-transition-timing-function: cubic-bezier(0.980, 0.040, 0.150, 0.890);
   -moz-transition-timing-function: cubic-bezier(0.980, 0.040, 0.150, 0.890);
     -o-transition-timing-function: cubic-bezier(0.980, 0.040, 0.150, 0.890);
        transition-timing-function: cubic-bezier(0.980, 0.040, 0.150, 0.890); /* custom */
}
strong{
	font-weight: bold;
}
html,
body{
	overflow-x: hidden;
}
.hidden{
	display: none;
}
.hidden-remove{
	display: none !important;
}
.content{
	min-height: 400px;
}
.fix-robot{
	letter-spacing: -1px;
}
.clearfix{
	&:after{
		content:'';
		display: block;
		clear: both;
	}
}
.center{
	text-align: center;
}
.hide{
	display: none;
}
.button{
	background-image:url('../../images/arrow.png');
	background-repeat: no-repeat;
	background-position: 78% 50%;
	font-size: 15px;
	background-color:  $green ;
	color: #fff;
	padding: 13px 102px 13px 82px;
	display: inline-block;
	margin: 0;
	font-family: $font1;
	font-weight: bold;
	border:none;
	transition:0.25s;
	position: relative;

	&:hover{
		background-color: #00ac51;
	}

	@include mobile {
			padding-left: 49px;
			padding-right: 90px;
	}
	&.light{
		padding-top:0;
		padding-left: 0;
		padding-bottom: 0;
		background-color: #fff;
		background-image:url('../../images/arrow-2.png');
		color: $blue;
		padding-right: 43px;
		background-position: 100% 50%;
		&:after{
			display: none;
		}
		&.white{
			padding-left: 53px;
		}
	}
	&.fluid{
		display: inline-block;
		padding-left:40px;
		padding-right:80px;
		background-position: right 32px top 50%;
	}

	&.fluid2{
		display: inline-block;
		padding-left:10px;
		padding-right:64px;
		background-position: right 32px top 50%;
	}

	&.download{
		display: inline-block;
		background-image:url('../../images/arrow-3.png');
		background-color: #e96b00;
		background-position: 84% 50%;
		padding-left: 30px;
		padding-right: 42px;
	}

	&.left{
		background-image:url('../../images/arrow-left.png');
		background-position: 20px 50%;
		padding-left: 43px;
		padding-right: 12px;

	}
	&.white{
		background-color: transparent;
		color: #fff;
	}

	&.blue{
		background-color: $blue;
		color: #fff;
	}

	&.invert{
		display: inline-block;
		background-color: #fff;
		padding-left:40px;
		padding-right:65px;
		background-image:url('../../images/arrow-2.png');
		color: $blue;
	}

}

.title{
	font-size: 38px;
	color: $blue;
	font-weight: bold;
	line-height: 1;
	margin: 0;
	font-family: $font1;
	padding: 7px 0;
	@include desktop {
		font-size: 32px;
	}
}
.description{
	color: #676767;
	font-family: Helvetica;
	font-size:15px;
	line-height: 1.75;
}
.subtitle-top{
	font-size: 22px;
	color: #676767;
	font-weight: 400;
	position: relative;
	line-height: 1;
	margin: 0;
	font-family: $font2;
	&:after{
		content:'';
		background: $green;
		width: 83px;
		margin-top: 9px;
		margin-left: 3px;
		display: block;
		height: 7px;
		@include tablet {
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.input-control{
	width: 100%;
	background: #f9f9f9;
	border: 1px solid transparent;
	font-size: 15px;
	padding: 14px;
	&:focus{
		border-color: #003e85;
	}
}
//Normally
$padding : 18px;
.container{
	max-width: 1230px - $padding;
	padding: 0 $padding;
	margin: 0 auto;
	@include desktop {
		$padding : 22px;
		max-width: 1020px - $padding;
	}
	@include mobile {
		padding: 0 8px;
	}
}
.header{
	position: relative;
	z-index: 100;
	height: 95px;
	white-space: nowrap;
	@include mobile {
		height: 88px
	}
}
.top-bar{
	position: fixed;
	width: 100%;
	background: #fff;
	box-shadow: 0 4px 12px rgba(0,0,0,.25);
	.wrap-top{
		margin: 0 -10px;
		@include desktop {
			margin: 0 0;
		}
		@include mobile {
			margin: 0 10px;
		}
	}
	.logo{
		display: inline-block;
		padding: 25px 0;
		vertical-align: middle;
		@include mobile {
			max-width: 150px;
			margin-top: 5px;
		}
		img{
			max-width: 100%;
		}
	}
	.wrap-fast{
		float: right;
		margin-top: 34px;
		@include tablet {
			margin-top: 22px;
		}
		button.chat--prefab{
			background:$green;
			color:#fff;
			font-family: $font1;
			font-weight: 600;
			padding: 6px 23px;
			border-radius: 10px;
			font-size: 15px;
			display: inline-block;
			border:none;
			vertical-align: middle;
			transition:0.25s;
			cursor: pointer;
			&:hover{
				background-color: #00ac51;
			}
			&[disabled]{
				background-color: #b1b1b1;
			}
			i{
				display: none;
			}
			@include tablet {
				padding: 9px 16px;
				span{
					display: none;
				}
				i{
					font-size: 25px;
					display: inline-block;
				}
			}
		}
		.burg{
			display: none;
			@include tablet {
				display: inline-block;
				font-size: 30px;
				vertical-align: middle;
				color: #858585;
				margin-left: 6px;
				border:1px solid #ccc;
				border-radius: 8px;
				padding: 7px 14px;
			}
		}
	}
	.main-menu{
		display: inline-block;
		vertical-align: middle;
		margin-left: 40px;
		@include tablet {
			display: block;
			position: absolute;
			background: #fff;
			left: 0;
			width: 100%;
			top: 100%;
			margin: 0;
			box-shadow: 0px 4px 4px rgba(0,0,0,.35)
		}
		nav{
			@include tablet {
				display: none;
				&.active{
					display: block;
					height:700px;
				}
			}
			ul{
				li{
					float: left;
					@include tablet {
						float: inherit;
					}
					a{
						display: block;
						color: #858585;
						text-decoration: none;
						font-family: $font1;
						font-size: 15px;
						font-weight: lighter;
						padding: 0 20px;
						text-align: center;
						@include desktop {
							padding: 0 10px;
						}

						span{
							padding: 41px 0;
							display: inline-block;
							position: relative;
							height: 100%;
							@include tablet {
									padding: 20px 0;
							}
							&:after{
								content:'';
								background: $blue;
								position: absolute;
								width: 100%;
								height: 0;
								bottom:0;
								left: 0;
								@include animate(200ms);
							}
						}
						&:hover{
							span{
								&:after{
									height: 6px;
								}
							}
						}
					}
					&.active{
						a{
							span{
								&:after{
									height: 6px;
								}
							}
						}
					}
				}
			}
		}
	}
}

.section-group{
	background: #fff;
	position: relative;
	z-index: 12;
}
.fixed-group{
	height: 500px;
	position: relative;
	background: #000;
	@include mobile{
		background: #fff;
	}
}
.main-banner{
	position: absolute;
	width: 100%;
	z-index: 1;
	li{
		overflow: hidden;
	}
	.bx-viewport{
		background-image:url('../../images/bg-slide.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	@include mobile{
		background: -moz-linear-gradient(bottom, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to top, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	}
	img{
	}
	.bx-controls.bx-has-pager{
		position: absolute;
		bottom: 24px;
		z-index: 19;
		width: 100%;
		text-align: center;
		.bx-pager-item{
			display: inline-block;
			margin: 0 4px;
			a{
				display: block;
				width: 10px;
				height: 10px;
				background: #bdbdbd;
				text-indent: -999px;
				overflow: hidden;
				transition: 0.25s;
				border-radius: 400px;
				&.active{
					background: #fff;
				}
			}
		}
	}
	.slider-default{
		position: relative;

		.table-slide{
			display: table;
			width: 100%;
			.item-slide{
				width: 1%;
				vertical-align: middle;
				display: table-cell;
				@include mobile{
					display: block;
					width: 100%;
					text-align: center;
					margin-top: 12px;
				}
				&.img{
					max-width: 320px;
					@include desktop{
							max-width: 120px;
							img{
								max-width: 400px;
							}
					}
					@include tablet{
							max-width: 100px;
							img{
								max-width: 340px;
							}
					}
					@include mobile{
						max-width: 100%;
						img{
							max-width: 100%;
							max-height: 250px;
						}
					}
				}
			}
		}
		.preview{
			overflow: hidden;
			position: relative;
			margin: 2px 0 -90px 0;
			@include mobile{
				margin: 0;
				max-height: 220px;
			}
		}
		.caption{
			color: #fff;
			@include mobile{
				padding:  0 20px 60px;
			}
			i{
				display: block;
				margin-bottom: 30px;
				@include mobile {
					display: none;
				}
			}
			h3{
				font-family: $font2;
				font-size: 28px;
				margin-bottom: 4px;

				@include mobile{
					font-size: 16px;
				}
			}
			h2{
				font-family: $font1;
				text-transform: uppercase;
				font-size: 42px;
				font-weight: bold;
				@include tablet{
					font-size: 30px;
				}
				@include mobile{
					font-size: 22px;
				}
			}
			p{
				line-height: 1.6;
				padding-right: 70px;
				font-family: $font1;
				font-size: 15px;
				margin: 15px 0 33px 0;
				@include mobile{
					padding: 0;
					font-size: 14px;
					margin-top: 4px
				}
			}
		}
		.label-top{
			background: url(../../images/cov.png) no-repeat -50px -20px;
			background-size: cover;
			width: 801px;
			display: block;
			position: absolute;
			left: 0px;
			top: 0;
			height: 330px;
			z-index: 100;
			@include desktop {
				top: -20px;
				background-size: 70%;
			}
			@include mobile {
				background-size: 50%;
			}
		}

	}
}

section.product-preview{
		padding: 30px 0 20px 0;
		@include desktop{
			padding-top: 20px;
		}
		@include tablet {
			padding: 46px 0 40px 0;
		}

		.pp--row{
			@extend .clearfix;
			&>div{
				min-height: 1px;
				display: table-cell;
				vertical-align: middle;
			}
		}
		.pp-caption{

			a{
				margin-top: 20px;
				@extend .button;
			}
			h2{
				@extend .title;
			}
			h3{
				@extend .subtitle-top;
			}
			p{
				color:#676767;
				font-family:  'Helvetica', sans-serif;
				line-height: 1.6;
				padding-right: 50px;
				font-size: 15px;
				@include tablet {
					padding: 0;
				}
			}

		}
		&.main{
			.pp--row{
					display: table;
				.pp-caption{
					min-width: 490px;
					@include desktop {
						min-width: 440px;
					}
					@include tablet {
						text-align: center;
						min-width: inherit;
						padding-top: 0;
					}
				}
				.pp-preview{
					width: 100%;
					padding-left: 27px;
					@include desktop {
						margin-top: 40px;
					}
					@include tablet {
						display: none;
					}
					img{
						display: block;
						margin-top: 20px;
						margin-right: -41px;
						@include desktop {
							max-width: 500px;
							margin-top: 60px;
						}
						@include desktop-min {
							max-width: 100%;
						}
					}
				}
			}
		}
		&.grid{
			background: #f8f8f8;
			padding: 70px 0 90px;
			@include mobile {
				padding: 70px 0 40px;
			}
			.pp--row-table{
				display: table;
				width: 100%;
				.pp--row{
					display: table-cell;
					width: 1%;
					@include tablet {
						display: block;
						width: 100%;
					}

					.pp--row-inner{
						max-width: 480px;
						margin: 0 0 0 auto;
							display: block;
							text-align: left;
							@include tablet {
								text-align: center;
								margin: 0 auto 60px auto;
							}
					}
					&.right{
						text-align: right;
						vertical-align: top;
						.pp--row-inner{
								@include mobile {
									padding: 50px 0 0;
								}
							}
					}
					.pp-preview{
						display: block;
						text-align: left;
						@include tablet {
							display: none;
						}
						img{
							display: inline-block;
							max-width: 100%;
							margin-left: -37px;
							margin-bottom: -8px;
						}
					}
				}
			}
		}
		&.clean{
			@include desktop {
				padding-top: 70px;
			}
			.prefix--icons{
				margin-bottom: 30px;
				@include mobile {
					margin-bottom: 22px;
					i{
						img{
							max-width: 60px;
						}
					}
				}
			}
			.pp-preview,
			.pp-caption{
					width: 50%;
					@include tablet {
						width: 100%
					}
			}
			.pp-preview{
				@include tablet {
					display: none
				}
			}
			.pp-caption{
				text-align: right;
				padding-right: 85px;
				@include tablet {
					padding: 0;
					text-align: center;
				}
				h3{
					&:after{
						display: none;
					}
				}
				p{
					padding-right: 0
				}
			}
		}
		@include mobile {
			padding-left:30px;
			padding-right:30px;
		}

}

.detail-product{

	margin-bottom: 30px;
	.detailProducto{

		font-family: $font2;
		overflow: hidden;
		@include mobile {
			margin-top: 12px;
			padding: 0 12px;
		}
		.span--desc{
			font-size:15px;
			font-family: $font1;
			font-weight:lighter;
			color:#676767;
		}
		.col-detailProduct{

			float: left;
			width:50%;
			max-width: 500px;
			@include mobile {
				width: 100%;
			}
			.back{
				background-position: 40px 50%;
				padding-left: 83px;
				padding-right: 62px;
				transition:0.25s;
				&:hover{
					background-color: #003878;
				}
				@include mobile(){
					display: none;
				}
			}

			h3{
				font-size:28px;
				margin-top: 56px;
				margin-bottom: 2px;
				@include mobile(){
					margin-top: 26px;
				}
			}
			h1{
				color: $blue;
				font-size:46px;
				font-weight: bold;
				font-family: $font1;
				@include mobile(){
					font-size: 30px;
				}
			}
			.labelcod{
				display: inline-block;
				background-color: #a2d0b7;
				color: white;
				padding: 5px 7px;
				margin: 4px 0px;
			}
			h4{
				margin: 32px 0px 10px 0px;
				font-weight: normal;
				font-size: 18px;
				color: #676767;
			}
			p{
				line-height: 22px;
				margin: 6px 0px;
				font-family: $font1;
				font-size: 15px;
			}
			h3, h2, p, ul{
				color: #676767;
				font-weight: lighter;
			}

			ul{
				li{
					font-size: 15px;
					line-height:1.4;
				}
			}

			.botones{

				margin-top: 32px;

				.boton{
					float: left;
					margin-right: 32px;
					a{
						padding-left: 12px;
					}
					p{
						margin: 8px 0px 14px 0px;
						font-weight: normal;
						font-family:$font2;
					}
				}
			}

		}

		.col-galeryProduct{

			float: right;
			display: table;
			width:50%;
			@include mobile(){
				width:100%;
				display: block;
				float: none;
			}
			
			.col-img{
				display: table-cell;
				width:100%;
				padding-right: 30px;
				@include mobile() {
					display: block;
				}
				img{
					width: 100%;
					height: auto;
				}
			}

			.col-thumbs{
				display: table-cell;
				vertical-align: top;
				.item-product-thumb{
					display: inline-block;
					vertical-align: middle;
				}
				@include mobile() {
					display: block;
				}
				.preview{
					a{
						display: block;
						position: relative;
						i{
							text-align: center;
							padding-top: 26px;
							font-size:34px;
							font-weight:lighter;
							color: #fff;
							position: absolute;
							top:0;
							display: block;
							left:0;
							background-color: rgba(162, 208,182, .6);
							width:100%;
							height:100%;
							opacity:0;
						}
						&.active,
						&:hover{
							i{
								opacity:1;
							}
						}

					}
				}
				h4{
					text-transform: uppercase;
					margin-bottom: 8px;
					font-weight:bold;
					font-size:11px;
					font-family:$font1;
				}
			}

		}

	}
}

section.mid-banner{
  width: 100%;
	height: 450px;
	overflow: hidden;
	position: relative;
	background-size:cover;
	background-position: center;
	@include mobile {
		height: 350px;
	}
	.roll{
		position: absolute;
		z-index: -1;
		width: 100%;
		top: 0;
		img{
			width: 100%;
		}
	}
	.container{
		height: 100%;
		display: table;
		.mb-caption{
			text-align: center;
			display: table-cell;
			vertical-align: middle;
			@include mobile {
				padding: 0 20px;
			}
			.wrap-mb-caption{
				color:#fff;
				max-width: 460px;
				margin: 0 auto;
				@include mobile {
					img{
						max-width: 60px;
					}
				}
				h3{
					margin-top: 29px;
					font-size: 22px;
					font-family: $font2;
				}
				h2{
					padding-top: 9px;
					font-family: $font1;
					font-weight: bold;
					font-size: 38px;
					@include mobile {
							font-size: 30px
					}
				}
			}
		}
	}
}
footer{
	background: $blue;
	padding-top: 60px;
	padding-bottom: 53px;
	@include mobile {
			padding: 30px 0;
			text-align: center;
	}
	.table-footer{
		display: table;
		width: 100%;
		color: #fff;
		@include desktop-min {
			&>div:last-child{
				display: none;
			}
		}
		@include tablet {
			&>div:first-child + div{
				display: none;
			}
		}
		.item-table{
			width: 1%;
			display: table-cell;
			vertical-align: top;
			font-size: 15px;
			@include tablet {
				&.logo{
					width: 260px;
				}
				width: inherit;
			}

			&.default{
				@include mobile {
						display: none
				}
			}
			.wrap{
				font-family: $font1;
				padding-right: 21px;
				line-height: 1.2;
				@include mobile {
					padding-right: 0
				}
				h3{
					display: block;
					font-weight: bold;
					margin-bottom: 14px;
				}
				p,
				a{
					font-weight: lighter;
					display: block;
					margin-bottom: 4px;
					color: #fff;
					i{
						margin-left: 5px;
					}
				}
				a{
					white-space:nowrap;
					opacity:1;
					transition:0.25s;
					&:hover{
						opacity:.75;
					}
				}
			}
			.invert{
				margin-top: 9px;
				&:hover{
					background-color: #efefef;
				}
			}

		}
	}
}
.bottom{
	color: #fff;
	font-family: $font1;
	font-weight: lighter;
	background: #003e85;
	font-size: 12px;
	padding: 18px 0;
	.table-bottom{
		display: table;
		width: 100%;

		&>div{
			width: 1%;
			display: table-cell;
			vertical-align: middle;
		}
		.right{
			text-align: right;
			@include mobile{
				display: none;
			}
			small{
				font-size: 15px;
				vertical-align: middle;
				color: #fff;
				margin-right: 9px;
			}
			img{
				vertical-align: middle;
			}
		}
	}
}


.banner-overlay{
	margin-bottom: 210px;
	&.untop{
		margin-top: -210px;
		@include mobile{
			display: none;
		}
	}
	@include mobile{
		margin-bottom: 160px
	}
	.bg{
		overflow: hidden;
		position: relative;
		height: 100%;
	}
	.over{
		position: absolute;
		top: 50px;
		width: 100%;
		text-align: center;

		@include mobile{
			top: 40px;
			img{
				width: 280px;
			}
		}

	}
}
.banner-overlay,
.main-title-parallax{
	height: 180px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	background-position: center;
	background-size: cover;
	@include tablet{
		height: 90px;
	}
	.caption{
		position: relative;
		z-index: 9;
		padding: 78px 10px;
		max-width: 470px;
		margin: 0 auto;
		text-align: center;
		color: #fff;
		@include tablet{
			padding-top: 30px;
			padding-bottom: 20px;
		}
		h3{
			font-family: $font2;
			font-size: 22px;
			@include tablet{
				font-size: 30px
			}
		}
		h1,
		h2{
			font-size: 38px;
			font-family: $font1;
			font-weight: bold;
			@include tablet{
				display: none;
			}

		}
	}

}
.main-title-parallax{
	&:not(.left){
		overflow: hidden;
	}
	&.left{
		height: 250px;
		margin-bottom: 50px;
		@include tablet{
			height: 90px;
		}
		.wrap{
			overflow: hidden;
			height: 100%;
			position: relative;
		}
		.inner-content{
			position: absolute;
			top: 0;
			height: 100%;
			width: 100%;
		}
		.wrap-title{
			position: relative;
		}
		.container{
			position: relative;
		}
		.caption{
			max-width: 532px;
			margin: 5px 0 auto 0;
			text-align: left;
			@include tablet{
				text-align: center;
					max-width: inherit;
					padding-top: 30px;
					padding-bottom: 20px;
					margin: 0;
					h2{
						font-size: 36px;
					}
			}
		}
		.image{
			position: absolute;
			right: 0;
			top: 50px;
			@include desktop{
					top: 20px;
					max-width:520px;
					img{
						width: 100%;
					}
			}
			@include tablet{
				display: none;
			}
		}
		.preview{
			top:-10%;
		}
	}
}


	section.about{
		padding: 40px 0 0 0;
		.caption{
			text-align: center;
			max-width: 1073px;
			margin: 0 auto;
			padding: 0 ;
			h2{
				@extend .title;
				margin-bottom: 27px;
			}
			.p{
				@extend .description;

			}
		}
		.preview{
			padding: 58px 0 58px 0;
			img{
				max-width: 100%;
			}
		}
	}


.neu{
	margin-bottom: 72px;
	@include mobile{
		margin-bottom: 10px;
	}
	.neu--row{
		display: table;
		width: 100%;
			.neu--item{
				width: 1%;
				display: table-cell;
				padding: 0 43px;
				text-align: center;
				@include mobile{
					width: 100%;
					display: block;
					margin-bottom: 30px;
				}
				h3{
					@extend .title;
					font-size:26px;
				}
				.description{
					@extend .description;
					line-height: 1.6;
					margin-top: 10px;
				}
			}
	}
}

html.eco,
html.eco body,
html.eco #page,
html.eco #page .content{
	height: 100%;
}

html.eco {
	.header{
		height: 0;
	}
	.content{
		padding-bottom: 100px;
		background-image: url('../../images/b1.jpg') ;
		background-size: cover;
		background-position: center;
		padding-top: 100px;
		display: table;
		width: 100%;
		.full-box{
			vertical-align: middle;
			display: table-cell;
			
			background-image: url('../../images/b1.jpg') ;
			background-size: cover;
			background-position: center;
			.wrap-box{
				color: #fff;
				max-width: 900px;
				padding: 0 30px;
				margin: 0 auto;
				text-align: center;
				.nav-box{
					.back-nav{
						margin-top: 40px;
					}
				}
				h1{
					@extend .title;
					color: #fff;
					font-size: 40px;
					line-height: 1.2;
					margin-bottom: 30px;
				}
				p{
					margin-bottom: 6%;
					line-height: 2;
					font-size: 15px;
					font-family: $font1;
					@include mobile{
					}
				}
			}
		}
	}
	.bottom{
		position: fixed;
		bottom: 0;
		width: 100%;
		@include mobile{
			position: relative;
		}
	}
}
.service-block{
	padding: 70px 0;
	&.opaque{
		background: #f9f9f9;
	}
	.service-image{
		display: block;
		text-align: center;
		margin-bottom: -70px;
		@include tablet{
			img{
				max-width: 100%;
			}
		}
	}
	.nav{
		text-align: center;
		display: block;
		//margin-bottom: 43px;
		.go-products{
			padding: 30px 0 40px 0;
			text-align: center;
			a{
				background-color: transparent;
			}
		}
	}
	.inner-info{
		text-align: center;
		padding: 0 10px ;
		max-width: 940px;
		margin: 0 auto 56px auto;
		h2{
			@extend .title;
			padding: 20px 0;
			margin-bottom: 20px;
		}
		p{
			@extend .description;
		}
	}
	.neu{
		.neu--item{
			h3{
				font-size: 24px;
			}
		}
	}
}
.searcher{
	.capability{
		position: relative;
		
		.content-search{
			position: absolute;
			top:100%;
			width:100%;
			z-index: 144;
			background-color: #fff;
			display: none;
			ul{
				border-left:1px solid $blue;
				border-right:1px solid $blue;
				li{
					border-bottom:1px solid $blue;
					a{
						color:#676767;
						line-height:1;
						padding:20px 0 20px 60px;
						display: block;
						font-weight:lighter;
						font-family:$font1;
						font-size:15px;
						transition:0.25s;

						&:hover{
							background-color: #f9f9f9;
						}
					}
				}
			}
		}
		.capability-inner{
			background: url(../../images/search.png) no-repeat 20px center #fff;
			border: 1px solid #aaa;
			width: 100%;
			font-size: 15px;
			font-family: $font1;
			font-weight: lighter;
			padding: 9px 18px 9px 60px;
			.cp-box-table{
				display: table;
				width:100%;
				.cp-cell{
					display: table-cell;
				}
				.cp-box-input{
					width:100%;
				}
				.cp-box-append{
					width:1%;
				}
				.cp-list-append{
					display: inline-block;
					white-space: nowrap;
					vertical-align: middle;
					li{
						margin-right: 5px;
						display: inline-block;
						.cp-item{
							background-color: #eaeaea;
							padding:10px 12px;
						}
						span{
							display: inline-block;
							vertical-align: middle;
							font-family:$font1;
							font-weight:lighter;
							color: #676767;
							font-size:15px;
							margin-right: 8px;
						}
						a.close{
							vertical-align: middle;
							display: inline-block;
							background-image: url(../../images/cp-close.png);
							width:16px;
							height:16px;
						}
					}
				}
			}
			input{
				width:100%;
				padding:8px 0;
				font-family:$font1;
				font-weight:lighter;
				color: #676767;
				font-size:15px;
				outline: none;
				border:none;
			}
		}
		&.searching{
			.content-search {
				display: block;
			}
			.capability-inner{
				border-color: $blue;
			}
		}
	}
}

.list-products{
	margin-bottom: 50px;
	@include mobile(){
		padding:0 18px;
	}
}
.products-searcher{
	@include mobile(){
		padding:0 12px;
	}
}
.items{
	margin-top: 30px;
	margin-left: -15px;
	margin-right: -15px;
	position: relative;
	&.min{

		.item-product{
			width:25%;
			@include mobile(){
				width:50%;
				display:none;
				&:first-child,
				&:last-child{
					display: block;
				}
			}
		}
	}

	@extend .clearfix ;
	.item-product{
		padding: 0 15px;
		text-align: center;
		float: left;
		width: 33.3333%;
		margin-bottom: 27px;
		@include desktop-min{
			width: 50%;
		}
		@include mobile{
			width: 100%;
			padding: 0 5px;
		}
		.wrap-item-product{
			font-family: $font1;
			background: #f9f9f9;
			padding: 18px;
			position: relative;
			.mark{
				position: absolute;
				left: 0;
				top: 0;
				z-index: 10;
				background: url(../../images/mark.png) top left no-repeat;
				width: 120px;
				height: 120px;
				display: block;
				&>span.mark-label {
					transition:0.25s;
					opacity:0;
					padding:12px;
					box-shadow: 1px 2px 3px rgba(0,0,0,.4);
					position: absolute;
					top:23px;
					left:74px;
					height:36px;
					z-index: 11;
					background-color: $blue;
					display: inline-block;
					width:160px;
					color: #fff;
					font-family: $font1;
					font-size: 12px;
					&:before{
						content: '';
						width: 0;
						position: absolute;
						left:-18px;
						top:0;
						height: 0;
						border-top: 18px solid transparent;
						border-bottom: 18px solid transparent;

						border-right:18px solid $blue;
					}
				}
				&:hover{
					cursor: pointer;
					&>span.mark-label{
						opacity:1;

					}
				}

			}
			&>a{
				position: absolute;
				z-index: 1;
				top: 0;
				width: 100%;
				height: 100%;
				left: 0;
				transition: 0.25s;
				background: #abd5be;
				opacity: 0;
				.wrap{
					display: table;
					width: 100%;
					height: 100%;
					text-align: center;;
					span{
							display: table-cell;
							color: #fff;
							vertical-align: middle;
							width: 100%;
							text-align: center;
							small{
								font-family: $font2;
								font-size: 18px;
								display: block;
								padding: 7px 0;
							}
							b{
								font-family: $font1;
								font-size: 24px;
								display: block;
								padding:0 10px;
							}
						i{
							display: inline-block;
							margin-top: 40px;
							padding-right: 30px;
							background: url("../../images/arrow.png") no-repeat right center;
						}
					}
				}
				&+.preview + h3 + h2 + span,
				&+.preview + h3 + h2,
				&+.preview + h3{
					transition:0.25s;
				}

				&:hover{
					opacity: .95;
					&+.preview + h3 + h2 + span,
					&+.preview + h3 + h2,
					&+.preview + h3{
						opacity: 0;
					}
				}
			}
			.preview{
				padding:5px 6px 0 6px;
				margin-bottom: -6px;
				img{
					max-width: 100%;
				}
			}
			h2{
				font-size: 24px;
				color: $blue;
				font-weight: bold;
				text-transform: uppercase;
				padding: 6px 0;
				margin-bottom: 5px;
				height:62px;
				@include mobile{
					white-space: normal;
				}
			}
			h3{
				font-family: $font2;
				font-size: 18px;
				color:#676767;
			}
			.button{
				display: block;
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
}

.paginator{
	text-align: center;
	margin: 40px 0;
	.label{
		display: inline-block;
		vertical-align: middle;
		font-family:$font1;
		font-weight:bold;
		margin-right: 20px;
	}
	ul{
		display: inline-block;
		vertical-align: middle;
		@extend .clearfix;
		li{
			float: left;
			margin: 0 8px;
			&.active{
				a{
					background: #b7b7b7;
				}
			}
			span,
			a{
				font-family: $font1;
				background: #eaeaea;
				padding: 18px 14px;
				display: block;
				font-weight:bold;
				color: #333;;
				&.active{
					background: #b7b7b7;
				}
			}
			span{
				color: #999;
				background: #ddd;
			}
		}
	}
}

.min-title{
		margin-bottom: 28px;
		h3{
			font-family: $font2;
			font-size: 22px;
			color: #676767;
		}
		h2{
			padding-top: 0;
			@extend .title;
		}
	@include mobile{
		text-align: center;
	}
}
.promo-preview{
	margin-bottom: 30px;
	.full-bg{
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.promo-content{
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		max-width: 680px;
		margin: 0 0 auto 0;
		padding: 40px 196px 40px 40px;
		background: url(../../images/overlay.png) center -20px ;
		@include mobile{
			padding: 20px
		}
		.caption{
			color:#fff;
			h4{
				font-family: $font2;
				font-size: 28px;
			}
			h3{
				font-family: $font1;
				font-size: 42px;
				margin-bottom: 20px;
				font-weight: bold;
			}
			h5{
				font-family: $font2;
				font-size: 22px;
				display: block;
				margin-bottom: 8px;
			}
			span{
				display: block;
				font-family:$font1;
				line-height:1.2;
			}
			p{
				line-height: 1.8;
				font-size: 14px;
				font-family: $font1;
				margin-bottom: 30px;

			}

		}
		.more{
			h3{
				font-family: $font2;
				color: #fff;
				font-size: 28px;
				margin-bottom: 15px;
			}
			a{
				background-position: 90% 50%;
				padding-right: 68px;
				padding-left: 35px;
			}
		}
	}
}

.promo-banner{
	margin-bottom: 70px;
	.content-render{
		background-image: url(../../images/back-promo.jpg);
		background-position: center;
		background-size: cover;
		border-bottom: 10px solid #efd43d;
		max-height: 155px;
		overflow: hidden;
		display: table;
		width:100%;
		position: relative;
		&:before{
			background: #fff488;
			position: absolute;
			content: '';
			left:0;
			top:0;
			width:100%;
			height: 100%;
			opacity:.8;
			z-index: 0;
		}
		.link{
			display: table-cell;
			position: relative;
			padding-right: 100px;
			text-align: left;
			z-index: 10;
			vertical-align: middle;
		}
		.caption{
			position: relative;
			vertical-align: middle;
			z-index: 10;
			width:100%;
			display: table-cell;
			padding:48px 50px 32px 50px;
			h3{
				font-family:$font2;
				color: $blue;
				font-size:28px;
			}
			h4{
				font-family: $font1;
				color: $blue;
				font-size: 42px;
				font-weight:bold;
			}
		}
		.link, 
		.caption{
			@include mobile{
				display: block;
				text-align: center;
				padding:30px 30px;
				width:100%;
			}
		}
	}
}

.full-info{
	text-align: center;
	padding: 68px 10px 40px;
	background: #f1f1f1;
	.main{
		max-width: 968px;
		margin: 0 auto;
		h2{
			@extend .title;
		}
		p{
			font-size: 15px;
			font-family: $font1;
			color: #676767;
			font-weight: lighter;
			line-height: 1.6;
		}

	}
	.data{
		margin-top: 67px;
		color: #676767;
		small{
			font-family: $font2;
			font-size: 15px;
			display: block;
			margin-bottom: 2px;
		}
		h3{
			font-family: $font1;
			font-weight: bold;
			font-size: 38px;
			margin-bottom: 38px;
			@include mobile{
				font-size:20px;
			}
		}
	}

}

section.map{
		display: table;
		width: 100%;
		.inner-map{
			height: 318px;
		}
		.address{
			background: #f9f9f9;
			text-align: center;
			font-family: $font1;
			padding: 22px 7px;
			font-size: 15px;
			font-weight:lighter;
			color: #676767;
			b{
				font-weight: bold;
			}
		}
}
.form-contact{
	padding: 85px 0 ;
	h3{
		@extend .title;
		font-size: 24px;
		margin-bottom: 23px;
	}
	.form{
		.row-form{
			display: block;
			margin-bottom: 42px;
			&.half{
				margin-left:-15px;
				margin-right:-15px;
				@extend .clearfix;
				.input-form{
					width: 50%;
					float: left;
					margin-bottom: 10px;
					padding: 0 15px;
					@include mobile{
						width: 100%;
					}
				}
			}

			.input-form{
				&>label{
						display: block;
						font-family: $font1;
						font-weight: bold;
						font-size: 15px;
						color: #676767;
						margin-bottom: 8px;
					}
					.group-check{
						@extend .clearfix;
						label{
							font-family: $font1;
							width: 25%;
							display: block;
							float: left;
							margin-bottom: 18px;
							font-weight: lighter;
							color: #676767;
							font-size: 15px;
							@include mobile{
								width: 100%;
							}
						}
					}
				textarea,
				input[type=text]{
					@extend .input-control ;
				}
				textarea{
					resize: none;
				}
			}
		}
	}
}

.related-products{
	background-color: #f1f1f1;
	padding:30px 0;
	@include mobile{
		padding-left:15px;
		padding-right:15px;
	}
	.container > h2{
		@extend .title;
		@include mobile {
			font-size:26px
		}
	}
	.items .item-product .wrap-item-product{

		h2{
			@extend .title;
			font-size: 20px;
			white-space:normal;

		}
		@include mobile{
			.mark,
			h2,
			h3{
				display: none;
			}
		}
	}
}

.loader-chat{
	background-color: #fff;
	padding:20px;
	font-family: $font1;
	display: block;
}
.chat-nemesis{
	position: fixed;
	bottom:0;
	z-index: 100;
	right: 114px;
	width: 348px;
	border:1px solid #eee;
	box-shadow: 0 0 5px rgba(0,0,0,.3);

	@include mobile{
		right:0;
		top:auto;
		bottom:0;
		width:100%;
	}
	&.minimized{
		.nemesis-body {
			display: none;
		}
		.box-send{
			display: none;
		}
	}
	.dismiss-chat{
		position: absolute;
		width: 100%;
		height:100%;
		left:0;
		top:0;
		z-index:10000;
		.content-dismiss{
			padding: 0 30px;
			width:100%;
			height: 100%;
			text-align:center;
			z-index:100;
			position:relative;
			display:table;
			vertical-align: middle;
			.wrap-content-dismiss{
				display:table-cell;
				vertical-align: middle;
				.inner-content-dismiss{
					padding: 30px 16px 10px 16px;
					background: #fff;
					h4{
						font-family:$font2;
						font-size:20px;
						color:$blue;
						font-weight:bold;
					}
					p{
						font-family:$font1;
						line-height: 1.4;
						color:#333;
						fiont-size:15px;
						font-weight:lighter;
					}
					.btn{
						font-family:$font1;
						padding: 12px;
						font-size:15px;
						&.btn-close{
							margin-top: 18px;
							color:#fff;
							display: block;
							background:$green;
						}
						&.btn-cancel{
							margin-top:8px;
							color:$blue;
							background: #fff;
							display:block;
						}
					}
				}
			}
		}
		.overlay{
			background-color:rgba(0,0,0,.5);
			position: absolute;
			left:0;
			top:0;
			width:100%;
			height: 100%;
			z-index:0;
		}
	}
	.nemesis-chat-bar{
		cursor:pointer;
		background: $green;
		font-family: $font1;
		font-weight: bold;
		font-size: 18px;
		color: #fff;
		padding: 17px 10px;
		position: relative;

			.nemesis-bar-actions{
				float: right;
				a{
					display: inline-block;
					vertical-align: middle;
					color: #007c3b;
					background:url(../../images/bar-actions.png);
					width:25px;
					height:25px;
					&.min{
						background-position: -16px -18px;
					}
					&.close{
						background-position: -49px -18px;
					}
				}
			}

	}
	.nemesis-body{
		background: #fff;
		@include mobile {
			height:100%;
		}
		.nemesis-wrap-body{
			padding: 19px;
		}
	}
	.chat-start{
		text-align: center;
		i{
			display: block;
			margin-bottom: 3px;
		}
		h4{
			font-size: 20px;
			font-weight: bold;
			font-family: $font1;
			color: #003e85;
			margin-bottom: 4px;
		}
		p{
			color: #676767;
			line-height: 1.4;
			font-family: $font1;
			font-weight: lighter;
			padding: 0 10px;
			margin-bottom: 28px;
			font-size: 15px;
		}
		small{
			font-family: $font1;
			font-weight: lighter;
			font-size: 12px;
			color: #003e85;
			margin-bottom: 8px;
			display: block;
		}
		.form-chat-start{
			text-align: left;
			.input-form{
				margin-bottom: 10px;
				input{
					@extend .input-control ;
				}
				button{
					display: block;
					color: #fff;
					font-size: 14px;
					width: 100%;
					border: none;
					padding: 14px;
					background: $green;
					cursor: pointer;
					&:disabled{
						background: #a2d0b7
					}
				}
			}
		}
	}
}

.form-chat-composer{
	height:360px;
	overflow: auto;
	@include mobile {
		height:100%;
		max-height:360px;
	}
	.broadcast{
		padding-top: 10px;
	}
	.message{
		padding: 10px 18px;
		font-family: $font1;
		text-align: left;
		font-weight:lighter;
		font-size:15px;
		&>.wrap{
			max-width: 262px;
			margin:0 auto 0 0;
		}
		&.my{
			font-weight:bold;
			text-align: right;
			background-color: #f9f9f9;
			&>.wrap {
				margin: 0 0 0 auto;
			}
		}
	}
}
.box-send{
	.table__chat{
		width:100%;
		display: table;
		.ips--s,
		.ips--c{
			display: table-cell;
			vertical-align: middle;
		}
		.ips--c {
			input{
				padding:13px;
				background-color: #f9f9f9;
				border:none;
				font-size:15px;
			}
		}
		.ips--s{
			max-width:40px;
			button{
				background-color: $green;
				border:none;
				display: block;
				width:100%;
				padding:14px;
				color: #fff;
				text-align: center;
			}
		}
	}
	input{
		width:100%;
		display: block;

	}
}

.alert{
	font-family:$font1;
	font-size:16px;
	padding:12px;
	background-color: #f1f1f1;
	margin-bottom: 18px;
	&.alert-info{
		background-color: rgba(200,0,0,.3);
	}
}